export DEV_DB_HOST=localhost
export DEV_DB_PORT=5432
export DEV_DB_NAME=pathfinder_mono_dev
export DEV_DB_POOL=5
export DEV_DB_USER=pathfinder_mono
export DEV_DB_PASS=pathfinder_mono

export SCHEDULER_TYPE=MEMORY # "MEMORY" or "CONTAINER_NUM"
export SCHEDULER_MEMORY_THRESHOLD=70 # In percent

export DEV_MAILER_PERFORM_DELIV=false
export DEV_MAILER_RAISE_DELIV_ERR=false
export DEV_SMTP_ADDRESS=
export DEV_SMTP_PORT=587
# export DEV_SMTP_DOMAIN=
export DEV_SMTP_USER=
export DEV_SMTP_PASS=
export DEV_SMTP_AUTH=
export DEV_ENABLE_STARTTLS_AUTO=true
export DEV_SMTP_SENDER=
export DEV_DEFAULT_ADMIN_EMAIL=

export TEST_DB_HOST=localhost
export TEST_DB_PORT=5432
export TEST_DB_NAME=pathfinder_mono_test
export TEST_DB_POOL=5
export TEST_DB_USER=pathfinder_mono
export TEST_DB_PASS=pathfinder_mono
